language: go

env:
  - ETCD_VER=v3.3.0 GO111MODULE=on
before_install:
  - curl -L https://github.com/coreos/etcd/releases/download/${ETCD_VER}/etcd-${ETCD_VER}-linux-amd64.tar.gz -o /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz
  - mkdir -p /tmp/etcd
  - tar xzvf /tmp/etcd-${ETCD_VER}-linux-amd64.tar.gz -C /tmp/etcd --strip-components=1
  - /tmp/etcd/etcd
    --advertise-client-urls http://127.0.0.1:12379
    --listen-client-urls http://127.0.0.1:12379 > /dev/null &

go:
 - 1.11.2

install:
  - make setup

script:
  - make

deploy:
  - provider: script
    skip_cleanup: true
    script: curl -sL https://git.io/goreleaser | bash -s -- --rm-dist --skip-validate
    on:
      tags: true

notifications:
  email: false
