SERVER_HOST: "127.0.0.1"
SERVER_PORT: "8080"
PROXY_HOST: "127.0.0.1"
PROXY_PORT: "8081"
PROXY_MAX_IDLE_CONNS: "50"
PROXY_DIALER_TIMEOUT_IN_MS: "1000"
PROXY_DIALER_KEEP_ALIVE_IN_MS: "100"
PROXY_IDLE_CONN_TIMEOUT_IN_MS: "100"
ETCD_KEY_PREFIX: "weaver"
LOGGER_LEVEL: "debug"
ETCD_ENDPOINTS: "http://0.0.0.0:12379"
ETCD_DIAL_TIMEOUT: "5"
STATSD_HOST: "127.0.0.1"
STATSD_PORT: "18125"
STATSD_PREFIX: "weaver"
STATSD_ENABLED: false
STATSD_FLUSH_PERIOD_IN_SECONDS: "10"
NEW_RELIC_APP_NAME: "weaver"
NEW_RELIC_LICENSE_KEY: "__new_relic_fake_license_only_for_devs__"
NEW_RELIC_ENABLED: "false"
SENTRY_DSN: "hello"
SERVER_READ_TIMEOUT: 100
SERVER_WRITE_TIMEOUT: 100
